@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: $coldwhite;
  color: gray;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 5px auto 30px auto;
  padding-top: 20px;

  &--index {
    padding-top: 50px;
  }

  &__header {
    font-family: "Cormorant SC", serif;
    text-shadow: 4px 4px 4px black;
    color: #fef9ff;
    margin-bottom: 15px;
    background: $navy;
    border-radius: 10px;
    padding: 5px;
    border-bottom: 1.5px solid grey;
    text-align: center;
  }

  @media (min-width: $desktop) {
      max-width: 850px;
    }
}

.footer {
  color: $secondnavy;
  font-size: 11px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 5px auto;

  &__top {
    color: $thirdnavy;
    position: fixed;
    bottom: 7px;
    right: 10px;
    text-decoration: none;
  }
}

.footerAuthor {
  font-style: italic;
}

.paragraph {
  padding: 0 5px 0 25px;
}

.comeBack {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 16px;
  background: $coldwhite;

  &__link {
    color: $thirdnavy;
  }
}

.about {
  &__description {
    background: linear-gradient(180deg, rgba(89, 165, 216, 1) 0%, rgb(237, 242, 245) 100%);
    border-bottom: 1.5px solid $lightblue;
    border-radius: 10px;
    padding: 5px 0;
  }

  &__header {
    color: $darkblue;
  }

  &__link {
    color: $thirdnavy;
  }

  &__paragraph {
    padding: 0 5px 0 25px;
    color: rgb(255, 255, 255);
  }
}

.article {
  &__header {
    color: $darkblue;
  }

  &__paragraph {
    padding: 0 0 0 5px;
  }

  &__section-header {
    color: $lightblue;
    font-size: 16px;
  }
}

.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-template-areas:
    "article-list__header article-list__header"
    ". ."
    ". ."
    "last-article last-article";

  &__header {
    color: $darkblue;
    grid-area: article-list__header;
  }

  &__icon {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 5px 5px 0;
    float: left;
  }

  &__link {
    color: $thirdnavy;
  }

  &__paragraph {
    padding: 0 5px 0 25px;

    &--color {
      color: $darkblue;
    }
  }

  &__shortcat {
    border-bottom: 1.5px solid $lightblue;
    background: rgb(237, 242, 245);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0;

    &--last {
      grid-area: last-article;
    }
  }

  &__shortcat-header {
    color: $lightblue;
    padding: 5px 0 0 10px;
  }

  @media (max-width: $mobile) {    
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "article-list__header"
        "."
        "."
        "."
        "."
        "last-article";
    }
  
}


.navigation {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  &__item {
    border: 1px solid rgb(214, 214, 214);
    padding: 0 5px;
    background: linear-gradient(180deg, rgb(146, 146, 146) 0%, rgb(237, 242, 245) 100%);
    font-weight: bold;
    text-align: center;
    flex-grow: 1;

    @media (max-width: $mobile) {     
        margin: 1px;
      }
  }

  &__link {
    color: $thirdnavy;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 30px;
    margin-bottom: 0;
    justify-content: space-around;
    align-content: center;

    @media (max-width: $mobile) {          
        flex-direction: column;
        align-content: flex-start;
        display: none;
      }

      &--visible {
        @media (max-width: $mobile) {
        display: flex;
        }
      }
  }
  &__switcher {
    @media (max-width: $mobile) {   
      border: none;
      background: none;
      position: absolute;
      right: 16px;
      top: 16px;
    }
    @media (min-width: $tablet) {      
        display: none;
    }
    @media (min-width: $desktop) {         
        display: none;
      }
  }

  @media (min-width: $desktop) {   
      max-width: 850px;
  }  
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: $coldwhite;
  width: 100%;
}


/* MEDIA ZOSTAŁY PRZEROBIONE NA SCSS
@media (max-width: $mobile) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "article-list__header"
      "."
      "."
      "."
      "."
      "last-article";
  }

  .navigation__list {
    flex-direction: column;
    align-content: flex-start;
    display: none;
  }

  .navigation__list--visible {
    display: flex;
  }

  .navigation__item {
    margin: 1px;
  }

  .navigation__switcher {
    border: none;
    background: none;
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

@media (min-width: $tablet) {
  .navigation__switcher {
    display: none;
  }
}

@media (min-width: $desktop) {
  .main {
    max-width: 850px;
  }

  .navigation {
    max-width: 850px;
  }

  .navigation__switcher {
    display: none;
  }
}
*/